body{
    0;
}

.accueil{
    color:ivory;
   display: ;
   background: #9E9B99;
   position:absolute;
   top: 0;
   right: 0;
   left: 0;
   text-align: right;
   
  ;
 }
#nom{
    display:
}

#photo{
margin-top: 20px;
margin-left: 30px;
width: 240px; 
height:240px;
/*position:absolute; 
top: 40px; right: 20px;*/ 
position: relative;
bottom: 60px;
right: -250px; 

}

#photo img{
    width: 100%;
    border-radius: 30%;
    
    
}

#nomphoto{
    display: flex; 
    
}

#contact{
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    /*margin-left: 350px;*/
    margin-top: 100px;
    font-size: 40px;
    justify-content: flex-end;
   color: black;  
   font-family: Arial, Helvetica, sans-serif;
   text-align: right;
   letter-spacing: 4px;
   line-height: 1.4;
   position:relative;
   right: -260px;
   bottom: 40px;

}

#formation{
    display: flex; 
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;  
}


#formationbis{
    flex-direction: column;
    background-color:#; 
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3%;
}

#experience{
    margin-left: 80px;
    margin-bottom: 80px;
    background-color: #DED9D7;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    border-radius: 3%;
}

#principal{
    background-color:#EBE6E4;
    ; 
    margin-top: 100px;
    margin-bottom: 0;
}

#formulaire{
    background-color: #9E9B99;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px ;
    border-radius: 1% 1% 0% 0%;
    position:relative;
    bottom: 60px; 
}




h2 
{ 
    margin-top: 50px;
    font-size: 10px;
  color:black; 
  font-weight: bold; 
  font-family:  ;
  /*gras*/
}

h3
{
    font-size: 20px;
    color:rgb(112, 110, 110);
    font-family: Arial; 

}